<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item class="mt-3">
      <ion-label position="floating">Product Name</ion-label>
      <ion-input type="text" [(ngModel)]="productName"></ion-input>
    </ion-item>

    <ion-item class="mt-3">
      <ion-label position="floating">Product Description</ion-label>
      <ion-input type="text" [(ngModel)]="productDescription"></ion-input>
    </ion-item>

    <ion-item class="mt-3">
      <ion-label position="floating">Product Image</ion-label>
      <ion-input type="file" accept="image/*" (change)="imageSelected($event)"></ion-input>
    </ion-item>

    <div padding>
      <ion-button expand="full" (click)="addProduct()" color="primary">Add Product</ion-button>
    </div>
  </ion-list>
</ion-content>
