<ion-header>
  <ion-toolbar>
    <ion-title>{{ product.productName }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="{{ host }}/{{ product.productImage }}">
    <div padding>
      <h6>{{ product.productName }}</h6>
      <p>{{ product.productDescription }}</p>
    </div>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-button expand="full" color="clear" (click)="placeOrder(product)">
      Place Order
    </ion-button>
  </ion-toolbar>
</ion-footer>
